<div class="input-group">
  <input type="text" class="form-control" placeholder="Your Country Name.." ng-model="countryName">
  <div class="input-group-btn">
    <button class="btn btn-default" type="submit">
        <i class='fas fa-search'></i>
    </button>
  </div>
</div>

<br> <br>
<div class="table-responsive-sm" data-ng-init=loadData()>
<table class="table table-hover table-bordered">
<thead class="thead-dark fix-header">
  <tr>
    <th ng-click="doSort('_id')">Id</th>
    <th ng-click="doSort('country')">Country</th>
    <th ng-click="doSort('cases')">Cases</th>
    <th ng-click="doSort('todayCases')">Today Cases</th>
    <th ng-click="doSort('deaths')">Deaths</th>
    <th ng-click="doSort('todayDeaths')">Today deaths</th>
    <th ng-click="doSort('recovered')">Recovered</th>
  </tr>
</thead> 

<tbody>
  <tr ng-repeat="country in countries | filter: countryName | orderBy:sortBy:reverse track by $index ">
    <td>{{country.countryInfo._id}}</td>
    <td>{{country.country}}</td>
    <td>{{country.cases}}</td>
    <td>{{country.todayCases}}</td>
    <td>{{country.deaths}}</td>
    <td>{{country.todayDeaths}}</td>
    <td>{{country.recovered}}</td>
          
  </tr>
</tbody>

</table>

</div>        